<div class="container-fluid text-center">

    <form [formGroup]="form">
        <div class="mb-3">
            <label for="email" class="form-label">Correo</label>
            <input type="email"
                class="form-control"
                id="email" formControlName="email">
            <div class="invalid-feedback">
                El correo es obligatorio
            </div>
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Contraseña</label>
            <input type="password"
                class="form-control"
                id="password" formControlName="password">
            <div class="invalid-feedback">
                La contraseña es obligatoria
            </div>
        </div>        
        <button 
            class="btn btn-primary" 
            type="button" 
          (click)="onClickRegister()"
            style="margin-inline: 10px;"
            >Registrarme</button>
        <button 
            class="btn btn-primary" 
            type="button" 
          (click)="onClickLogin()"
            style="margin-inline: 10px;">Iniciar Sesión</button>
        <button 
            class="btn btn-primary" 
            type="button" 
            (click)="onClickLoginWithGoogle()"
            style="margin-inline: 10px;">Iniciar Sesión con Google</button>            
    </form>

</div>
